services:
  api:
    build: ./backend
    container_name: api
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app

    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports: 
      - "5174:5173"

    environment:
      - CHOKIDAR_USEPOLLING=true
  
    depends_on:
      - api

  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: agendamento
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: